@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Nunito+Sans:opsz,wght@6..12,700&family=Nunito:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Moret;
  src: url(./font/Moret-Regular.ttf);
}

@font-face {
  font-family: Moret-book;
  src: url(./font/Moret-Book.ttf);
}


* {
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */

  box-sizing: border-box;
  text-decoration: none;
  
}

html {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

html, body {
  overflow-x: hidden;
  margin: 0;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
  background: #000000;
}


#loader {
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 9999;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  font-size: 2vw;
  transition: all linear .3s;
}

#loader h1 {
  position: absolute;
  background: linear-gradient(to right, gray, white);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  animation-name: load;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}

#loader h1:nth-child(2) {
  animation-delay: 1.5s;
}

#loader h1:nth-child(3) {
  animation-delay: 2.5s;
}

#loader h1:nth-child(4) {
  animation-delay: 3.5s;
}


@keyframes load {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.cursor {
  position: fixed;
  height: 20px;
  top: 0;
  left: 0;
  width: 20px;
  border-radius: 50%;
  background-color: #dadada;
  z-index: 10;
  display: none;
}


.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/noise.gif") 0 0;
  /* Replace with the URL of your noise texture image */
  pointer-events: none;

  opacity: 0.3;
  /* Adjust the opacity as needed */
  z-index: -1;
}

.bg {
  height: 100%;
  width: 100%;
  background: #0000009a;

}


.container {
  width: 900%;
  height: 100vh;
  display: flex;

  flex-wrap: nowrap;
}



section {
  width: 200%;


}



.container nav {
  height: 100vh;
  width: 5vw;
  position: absolute;
  left: 0;
  background-color: #000000;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 0;
}

nav i {
  height: 30px;
  color: #fff;
  padding: 20px 40px;
  font-size: 1.3vw;

}

/* 
nav .circle{
  height: 55px;
  width: 55px;
  background-color: #fff;
  border-radius: 50%;
  
  
  background-image: url("./images/mypic.jpg");
  background-size: cover;

} */
nav .mypic{
  height: 55px;
  width: 55px;
  background-color: #fff;
  border-radius: 50%;
  
  
  background-image: url("./images/mypic.jpg");
  background-size: cover;

}



nav i:hover {
  cursor: pointer;
  

}

.home {
  position: relative;
  background-color: #2d313487;
  color: #dadada;
  margin-left: 5vw;
  width: 100vw;

}

.main-home {

  padding: 20px 20px;
  margin-right: 40px;

}

.main-home .top {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
}

.main-home .top .top-left {
  font-size: 1.3vw;

}

.top-left h1 {
  font-family: 'Allison', cursive;
  font-size: 3vw;
  font-weight: 300;
  color: #fff;
}



.moving-text {
  max-width: 25%;
  position: fixed;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

}

.top .moving-text h2 {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 10px;
  font-weight: 300;
  font-size: 1.3vw;


}

.moving-text .mt {
  animation: moveLeft 10s infinite linear;
}

*::selection {
  background-color: #F4AABD;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }



  100% {
    transform: translateX(-250%);
  }
}


.main-home .center {
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
  font-family: 'Moret-book', serif;


}

.main-home .center hr {
  width: 40vw;
  position: relative;
  height: 2px;
  /* Set the height of your horizontal line */
  width: 50%;
  animation: expandWidth 4s ease-in-out 2;

}


@keyframes expandWidth {
  0% {
    width: 0;
  }

  50% {
    width: 70%;
  }

  /* 100% {
    width: 0;
  } */
}

.main-home .center .center-text h1 {
  font-size: 8vw;
  font-weight: 300;
  text-align: center;



}

.main-home .center h3 {
  font-size: 2vw;
  margin-top: 20px;
  letter-spacing: 0.5vw;

}



a {
  color: #fff;

}

.main-home .home-footer {

  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2vw;
  margin-top: 1vw;
}

.main-home .home-footer h3 {
  font-weight: 100;
  transition: all ease 0.3s;
  color: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}



#scroll {
  position: relative;

  /* Set the height of your element */

  /* Set the background color of your element */
  animation: moveLeftRight 2s ease infinite;
}

@keyframes moveLeftRight {
  0%, 100% {
    left: 0;
  }

  50% {
    left: -3%;
  }
}


.project {
  width: 200%;
  overflow: hidden;
  background-color: #fffffff2;
  color: #000000;


}



.project-container {
  width: 100%;
  height: 100%;

}

.project-container .project-heading-wrapper {
  height: 100%;
  border-right: 1px solid rgba(128, 128, 128, 0.567);
  width: 150px;
  color: #f6a8bd;
  font-size: 3vw;
  font-family: 'Geist', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 28vw;
  text-transform: uppercase;



}

.project-container .project-heading-wrapper h1 {


  animation: moveDown 10s infinite linear;
  transform: rotate(-90deg);
  font-weight: 900;
}


@keyframes moveDown {
  0% {
    transform: rotate(-90deg) translateX(0);
  }

  100% {
    transform: rotate(-90deg) translateX(-500%);
  }
}

.project-content {
  height: 100%;

  display: flex;

  gap: 5vw;
  top: 0;
  position: absolute;
  left: 12%
}

.project-content .project-item {
  width: 33vw;
  height: 100%;
  /* background-color: #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.project-container .project-item .project-data video {

  object-fit: cover;
  height: 60%;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: all ease 0.4s;


}

.project-container .project-item:nth-child(2) .project-data video {
  margin: 20px 0;
  height: 60%;
}

.project-container .project-item:nth-child(2) .project-data:hover video {
  transform: rotate(-5deg);
}

.project-container .project-item:nth-child(2) {
  padding-top: 10vw;

}

.project-container .project-item .project-data h2 {
  font-family: 'Roboto';
  color: #f88ba8;
  font-size: 1vw;
  padding: 20px 0;
}

.project-container a {
  color: #000000;
}

.project-container .project-item .project-data h1 {
  font-family: moret, serif;
  font-size: 2.5vw;
  font-weight: 400;
}

.project-container .project-item .project-data:hover video {
  transform: rotate(5deg);
  cursor: pointer;

}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;



}

.see-more-wrapper {
  text-align: center;
}

.see-more-circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f88ba8;
  /* Change the background color as desired */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .7s;
}

.see-more-circle:hover {

  scale: 0.7;
}

.see-more-i {
  font-size: 2em;
  color: #fff;
  /* Change the color as desired */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.see-more h2 {
  position: absolute;
  font-size: 19px;
  top: 0;
  font-family: Moret;
  color: #000;
  transform-origin: center center;
  stroke-opacity: 0.5;

}

.see-more h2:nth-child(2) {
  transform: rotate(45deg) translate(95px) rotate(-45deg);

}

.see-more h2:nth-child(3) {
  transform: rotate(90deg) translate(140px) rotate(-90deg);

}

.see-more h2:nth-child(4) {
  transform: rotate(135deg) translate(95px) rotate(-135deg);

}



.see-more h2 {
  position: absolute;
  font-size: 19px;
  top: 0;
  font-family: Moret;
  color: #000;

}

.see-more h2:nth-child(2) {
  transform: rotate(45deg) translate(95px) rotate(-45deg);

}

.see-more h2:nth-child(3) {
  transform: rotate(90deg) translate(140px) rotate(-90deg);

}

.see-more h2:nth-child(4) {
  transform: rotate(135deg) translate(95px) rotate(-135deg);

}



.contact {
  position: relative;
  background-color: #212529d8;
  width: 200%;

}

.contact .contact-main {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.contact .contact-main .location {
 
  width: 50%;
  height: 100%;
  position: relative;

}

.contact .contact-main .location .location-heading {
  padding: 100px 60px;

}

.contact .contact-main .location .location-heading h2 {
  color: #fff;
  font-size: 78px;
  font-weight: 700;
  font-family: Moret;
  letter-spacing: .2px;

}

.contact .contact-main .location .location-heading span {
  -webkit-text-stroke: .1px white;
  color: transparent;
  font-weight:900 ;
}
.contact .contact-main .location .location-para{
  
  /* border: 2px solid red; */
  color: #ffffffc4;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 0px 60px;
  
  font-size:1.5vw;
}

.contact .contact-main .location .location-para p{
  width: 100%;
  font-weight: 300;

}
.contact .contact-main .work {

  width: 50%;
  height: 100%;
  
  position: relative;
}
.contact .contact-main .work>h1{
  font-size: 20px;
  color: #ffffffd0;
  text-transform: uppercase;
  font-family: 'Roboto';
  padding: 20px;
}
.work .work-wrapper{
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.work .work-wrapper .work-heading{
  background-color: red;

}
.work-div-container {
  overflow: hidden;
  height: 67%;
  position: relative;
  overflow-y: auto;
}
.work-div-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
.work-div-container::-webkit-scrollbar-thumb {
  background: #f88ba8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Track */
.work-div-container::-webkit-scrollbar-track {
  background: transparent;
}

.work-wrapper .elem{
  position: relative;
  height: 100px;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.work-wrapper .elem .elem-left{
  padding: 10px 70px;
  line-height: 25px;
}
.work-wrapper .elem img{
  height: 70px;
    width: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    transition: all linear .2s;
    
    opacity: 0;
  
}
.work-wrapper .elem .elem-left h4{
  color: #f88ba8;
  font-family: 'Roboto';
  font-size: 14px;

}
.work-wrapper .elem .elem-left h5{
  color: gray;
  font-family: 'Roboto';
  font-size: 13px;

}
.work-wrapper .elem .elem-left h1{
  color: #000;
  
  font-family: Moret;
  font-size: 24px;
  font-weight: 100;

}
.work-wrapper .elem .elem-right h2{
  color: rgba(128, 128, 128, 0.863);
  margin-right: 70px;
  font-family: Moret;
  font-size: 20px;
  font-weight: 100;

}
.work-heading .work-moving-text{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  gap: 20px;
  bottom: 0;
  font-size: 40px;
  width: 50%;
  padding: 30px 0;
  border: 1px solid rgba(128, 128, 128, 0.705);
  font-family: 'Geist', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
}

.work-heading .work-moving-text h1{
  font-weight: 900;
  color: #f88ba8e1;
  animation: expAnime 5s linear infinite;
  letter-spacing: -4px;
}


@keyframes expAnime {
  0%{
    transform: translateX();
  }
  100%{
    transform: translateX(-150%);
  }
  
}
.about {
  background-color: #212529d8;
  height: 100%;
  /* background-color: palevioletred; */
}
.about .about-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-wrapper .education{
  height: 100%;
  width: 50%;
  background-color:  #212529d8;
}
.about .about-wrapper .education .edu-wrapper{
  height: 50%;
  width:100%;
  background-color: #f6a8bdd7;
}


.about .about-wrapper .education>h2{
  font-family: 'Geist', sans-serif;
  font-size: 20px;
  color: #ffffffd8;
  text-transform: uppercase;
  padding: 20px;

}
.about .about-wrapper .education .study{
  background-color: #fffffff8;
  height: 40%;
  width: 100%;
  overflow-y: scroll;
}
.about .about-wrapper .education .edu-moving-text{
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 40px;
  overflow: hidden;
  color: #ffffffe0;
  font-family: 'Geist', sans-serif;
  width: 100%;

}
.about .about-wrapper .education .edu-moving-text h1{
  font-weight: 900;
  letter-spacing: -2px;
  
  animation: expAnime 6s linear infinite ;

}
.about .about-wrapper .education .edu-moving-text:nth-child(2) h1{
  font-weight: 900;
  letter-spacing: -2px;
  
  animation: expAnime 6s linear infinite reverse;

}


@keyframes expAnimeRev {
  0%{
    transform: translateX(-100%);
  
  }
  100%{
    transform: translateX(100%);
  }
  
}

.about .about-wrapper .education .edu-moving-text span{
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}


.study .elem{
  position: relative;
  height: 100px;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.study .elem .elem-left{
  padding: 10px 70px;
  line-height: 25px;
}

.study .elem .elem-left h4{
  color: #f88ba8;
  font-family: 'Roboto';
  font-size: 14px;

}
.study .elem .elem-left h5{
  color: gray;
  font-family: 'Roboto';
  font-size: 13px;

}
.study .elem .elem-left h1{
  color: #000;
  
  font-family: Moret;
  font-size: 24px;
  font-weight: 100;

}
.study .elem .elem-right h2{
  color: gray;
  margin-right: 30px;
  font-family: Moret;
  font-size: 24px;
  font-weight: 100;

} 
.study .elem .elem-left h4{
  color: #f88ba8;
  font-family: 'Roboto';
  font-size: 14px;

}
.study .elem .elem-left h5{
  color: gray;
  font-family: 'Roboto';
  font-size: 13px;

}
.study .elem .elem-left h1{
  color: #000;
  
  font-family: Moret;
  font-size: 24px;
  font-weight: 100;

}
.study .elem .elem-right h2{
  color: rgba(128, 128, 128, 0.822);
  margin-right: 60px;
  font-family: Moret;
  font-size: 18px;
  font-weight: 100;

}
.study::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
.study::-webkit-scrollbar-thumb {
  background: #f88ba8;
  border-radius: 10px;
}

/* Handle on hover */
.study::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Track */
.study::-webkit-scrollbar-track {
  background: transparent;
}

.about .about-wrapper .tools{
  /* background-color: #212529d8; */
  position: relative;
  width: 50%;
  justify-content: center;
  height: 100%;
  display: flex;
  justify-content: space-between;
  
   
}
.tools .tools-top{
  padding-top: 20px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.tools .tools-top h1{
  font-size: 100px;
  
  color: rgba(255, 255, 255, 0.788);
  
  
  font-family: 'Geist', sans-serif;
  text-align: center;
}

.tools .tools-icon{
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* background-color: red; */
  flex-direction: column;
  z-index: 10;
  
}

/* .tools .tools-icon svg{
  position: absolute;
} */


.last {
  position: relative;
  background-color: gray;

  
}

.edu {
  position: relative;
 background-color: #fffffff3;


}
.edu .certificate-container{
  height: 100%;
  width: 100%;
  position: relative;

}

.certificate-container .certificate-heading-wrapper {
  height: 100%;
  border-right: 1px solid rgba(128, 128, 128, 0.567);
  width: 150px;
  color: #f6a8bd;
  font-size: 3vw;
  font-family: 'Geist', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height:45vw;
 
  text-transform: uppercase;



}

.certificate-container .certificate-heading-wrapper h1 {


  animation: moveDown 17s infinite linear;
  transform: rotate(-90deg);
  font-weight: 900;

  
}
.edu .certificate-content {
  height: 100%;
  width: 100%;
  display: flex;
  
  gap: 5vw;
  top: 0;
  position: absolute;
  left: 12%
}

.certificate-content .certificate-item {
  width: 25%;
  height: 100%;
  /* background-color: #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 

}

.certificate-content .certificate-item img{
  
  object-fit: contain;
  height:300px;
  width: 100%;
  
  background-position: center;
  background-size: cover;
  

}


.certificate-content .certificate-item h2{
  font-family: 'Roboto';
  color: #f88ba8;
  font-size: 1vw;
  padding: 20px 0;
}

.certificate-content .certificate-item a {
  color: #000000;
}

.certificate-content .certificate-item h1 {
  font-family: moret, serif;
  font-size: 2.5vw;
  font-weight: 400;
  margin-bottom: 40px;
}











/* bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb */


.menu-container{
  height: 100%;
  width: 100vw;
  background:black;
  border-left: 9px solid white;
  z-index: 9;
  top: -100%;
  left: 0.5%;
  position: absolute;
}

.menu-container .menu-wrapper{
  height: 90%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
   /* background-color: #fff; */

}
.menu-link {
  display: flex;
  gap: 8%;
  flex-direction: column;
  justify-content: center;
  font-family: 'Moret';

  
}
.menu-link h1{
  font-weight: 100;
  font-size: 55px;
  letter-spacing: 2px;
}