@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Nunito+Sans:opsz,wght@6..12,700&family=Nunito:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Moret;
  src: url(./font/Moret-Regular.ttf);
}

@font-face {
  font-family: Moret-book;
  src: url(./font/Moret-Book.ttf);
}


* {
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */

  box-sizing: border-box;
  text-decoration: none;
  cursor: none;
}

html {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

html, body {
  overflow-x: hidden;
  margin: 0;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
  background: #000000;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;


}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 9999;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  font-size: 2vw;
  transition: all linear .3s;
}

#loader h1 {
  position: absolute;
  background: linear-gradient(to right, orange, orangered);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  animation-name: load;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}

#loader h1:nth-child(2) {
  animation-delay: 1.5s;
}

#loader h1:nth-child(3) {
  animation-delay: 2.5s;
}

#loader h1:nth-child(4) {
  animation-delay: 3.5s;
}


@keyframes load {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.cursor {
  position: fixed;
  height: 20px;
  top: 0;
  left: 0;
  width: 20px;
  border-radius: 50%;
  background-color: #dadada;
  z-index: 10;
}


.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/noise.gif") 0 0;
  /* Replace with the URL of your noise texture image */
  pointer-events: none;

  opacity: 0.2;
  /* Adjust the opacity as needed */
  z-index: -1;
}

.bg {
  height: 100%;
  width: 100%;
  background: #0000009a;

}


.container {
  width: 600%;
  height: 100vh;
  display: flex;

  flex-wrap: nowrap;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: yellow;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}

section {
  width: 100%;
  position: relative;

}



.container nav {
  height: 100vh;
  width: 5vw;
  position: absolute;
  left: 0;
  background-color: #000000;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 0;
}

nav i {
  height: 30px;
  color: #fff;
  padding: 20px 40px;
  font-size: 1.3vw;

}


nav .circle {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("./images/mypic.jpg");
  background-size: cover;
}

nav i:hover {
  cursor: pointer;
  opacity: .6;

}

.home {
  position: relative;
  background-color: #2d313487;
  color: #dadada;
  margin-left: 5vw;
  max-width: 100%;

}

.main-home {

  padding: 20px 20px;
  margin-right: 40px;

}

.main-home .top {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
}

.main-home .top .top-left {
  font-size: 1.3vw;

}

.top-left h1 {
  font-family: 'Allison', cursive;
  font-size: 3vw;
  font-weight: 300;
  color: #fff;
}



.moving-text {
  max-width: 25%;
  position: fixed;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

}

.top .moving-text h2 {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 10px;
  font-weight: 300;
  font-size: 1.3vw;


}

.moving-text .mt {
  animation: moveLeft 10s infinite linear;
}

*::selection {
  background-color: #F4AABD;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }



  100% {
    transform: translateX(-250%);
  }
}


.main-home .center {
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
  font-family: 'Moret-book', serif;


}

.main-home .center hr {
  width: 40vw;
  position: relative;
  height: 2px;
  /* Set the height of your horizontal line */
  width: 50%;
  animation: expandWidth 4s ease-in-out 2;

}


@keyframes expandWidth {
  0% {
    width: 0;
  }

  50% {
    width: 70%;
  }

  /* 100% {
    width: 0;
  } */
}

.main-home .center .center-text h1 {
  font-size: 8vw;
  font-weight: 300;
  text-align: center;



}

.main-home .center h3 {
  font-size: 2vw;
  margin-top: 20px;
  letter-spacing: 0.5vw;

}



a {
  color: #fff;

}

.main-home .home-footer {

  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2vw;
  margin-top: 1vw;
}

.main-home .home-footer h3 {
  font-weight: 100;
  transition: all ease 0.3s;
  color: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-home .home-footer h3:hover {

  opacity: 0.6;
}

#scroll {
  position: relative;

  /* Set the height of your element */

  /* Set the background color of your element */
  animation: moveLeftRight 2s ease infinite;
}

@keyframes moveLeftRight {
  0%, 100% {
    left: 0;
  }

  50% {
    left: -3%;
  }
}


.project {
  width: 200%;
  background-color: #ffffff;
  color: #000000;


}

.project-container {

  position: relative;
  height: 100%;
}

.project-container .project-heading-wrapper {
  height: 100%;
  border-right: 1px solid rgba(128, 128, 128, 0.567);
  width: 200px;
  color: #f6a8bd;
  font-size: 3vw;
  font-family: 'Geist', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 28vw;
  text-transform: uppercase;


}

.project-container .project-heading-wrapper h1 {


  animation: moveDown 10s infinite linear;
  transform: rotate(-90deg);
  font-weight: 900;
}


@keyframes moveDown {
  0% {
    transform: rotate(-90deg) translateX(0);
  }

  100% {
    transform: rotate(-90deg) translateX(-500%);
  }
}

.project-content {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10vw;
  top: 0;
  position: absolute;
  left: 12%
}

.project-content .project-item {
  width: 33vw;
  height: 100%;
  /* background-color: #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.project-container .project-item .project-data video {

  object-fit: cover;
  height: 60%;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: all ease 0.4s;


}

.project-container .project-item:nth-child(2) .project-data video {
  margin: 20px 0;
  height: 60%;
}

.project-container .project-item:nth-child(2) .project-data:hover video {
  transform: rotate(-5deg);
}

.project-container .project-item:nth-child(2) {
  padding-top: 10vw;

}

.project-container .project-item .project-data h2 {
  font-family: 'Roboto';
  color: #f88ba8;
  font-size: 1vw;
  padding: 20px 0;
}

.project-container a {
  color: #000000;
}

.project-container .project-item .project-data h1 {
  font-family: moret, serif;
  font-size: 2.5vw;
  font-weight: 400;
}

.project-container .project-item .project-data:hover video {
  transform: rotate(5deg);
  cursor: pointer;

}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-left: 100px;


}

.see-more-wrapper {
  text-align: center;
}

.see-more-circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f88ba8;
  /* Change the background color as desired */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .7s;
}

.see-more-circle:hover {

  scale: 0.7;
}

.see-more-i {
  font-size: 2em;
  color: #fff;
  /* Change the color as desired */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.see-more h2 {
  position: absolute;
  font-size: 19px;
  top: 0;
  font-family: Moret;
  color: #000;
  transform-origin: center center;
  stroke-opacity: 0.5;

}

.see-more h2:nth-child(2) {
  transform: rotate(45deg) translate(95px) rotate(-45deg);

}

.see-more h2:nth-child(3) {
  transform: rotate(90deg) translate(140px) rotate(-90deg);

}

.see-more h2:nth-child(4) {
  transform: rotate(135deg) translate(95px) rotate(-135deg);

}



.see-more h2 {
  position: absolute;
  font-size: 19px;
  top: 0;
  font-family: Moret;
  color: #000;

}

.see-more h2:nth-child(2) {
  transform: rotate(45deg) translate(95px) rotate(-45deg);

}

.see-more h2:nth-child(3) {
  transform: rotate(90deg) translate(140px) rotate(-90deg);

}

.see-more h2:nth-child(4) {
  transform: rotate(135deg) translate(95px) rotate(-135deg);

}



.contact {
  position: relative;
  background-color: darkcyan;
}